<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CATALOGO" connectionString="metadata=res://*/CATALOGO.csdl|res://*/CATALOGO.ssdl|res://*/CATALOGO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-CVQR1LS\MANUEL;initial catalog=SISTEMA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>